* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: white;
}

.container {
    width: 80%;
    min-width: 320px;
    max-width: 640px;
    margin: 10px auto;
    padding: 5px 0 15px;
    text-align: center;
    border: 1px solid rgb(241, 141, 220);
    border-radius: 16px;
}

h2 {
    color: black;
}

h1 {
    color: red;
}

h1>span {
    display: inline-block;
    width: 40px;
}

button {
    color: darkslategray;
    background-color: lightgray;
    font-size: 16px;
    padding: 6px;
    width: 100px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:active {
    color: lightpink;
    background-color: darkslategray;
}


#wrapper {
    /* border: 2px solid black; */
    width: 80%;
    min-width: 320px;
    max-width: 640px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px auto;
    padding: 5px 0 15px;
    border: 1px solid rgb(241, 194, 231);
    border-radius: 16px;
}

h3 {
    color: rgb(43, 43, 43);
}

h4 {
    color: rgb(122, 122, 122);
}